<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2017-2021</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Bachelor of Engineering</div>
            <h4 class="category">
              Rajiv Gandhi College of Engineering and Research, Nagpur
            </h4>
            <ul>
              <li>
                Completed Bachelor of Engineering in Computer Science and
                Engineering with <b>7.32 CGPA </b>.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2015-2017</p>
            <div class="h5">Secondary education</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">HSC</div>
            <h4 class="category">G.H. Raisoni Jr. College, Nagpur</h4>
            <ul>
              <li>
                Completed Higher Secondary education with <b>68%</b> aggregate.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2015</p>
            <div class="h5">Primary education</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">SSC</div>
            <h4 class="category">St. Theresa's Hr. Sec. School</h4>
            <ul>
              <li>Completed with <b>70% </b>aggregate.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
