<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/images/introduction.jpg')"
      ></div>
      <div class="container">
        <div class="content-center">
          <div class="profile-image">
            <a href="#">
              <img src="assets/images/saurabh.jpg" alt="Image" />
            </a>
          </div>
          <div class="h2 title">Saurabh Brahaspati</div>
          <p class="category text-white">Associate Software Engineer</p>
          <a
            class="btn btn-primary smooth-scroll mr-2"
            href="#contact"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Hire Me</a
          >
          <a
            class="btn btn-primary"
            href="https://docs.google.com/document/d/1QJnnPVyOWn_nf9dj-VPyhiFM1Aji9lUx/edit?usp=sharing&ouid=112080565050829967737&rtpof=true&sd=true"
            target="_blank"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Download CV</a
          >
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Facebook"
            >
              <i class="fa fa-facebook"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/saurabh-brahaspati-111aa2189/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Linkedin"
            >
              <i class="fa fa-linkedin"></i>
            </a>
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://github.com/sbrahaspati21"
              target="_blank"
              rel="tooltip"
              title="Follow me on Github"
            >
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
